# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Common virtualenv names
.venv/

# Backend venv
backend/.venv/

# SQLite DB
*.db

# Node
frontend/node_modules/
frontend/dist/

# Misc
.DS_Store
Thumbs.db
